<link type="text/css" rel="stylesheet" href="style.css"/>

<p>Here are the members details</p>

<p>Name: <%=@member.name.capitalize%></p>
<p>Age: <%=@member.age%></p>
<p>Address: <%=@member.address%></p>

<form action="/members/<%=@member.id%>/edit" method="get">
  <input type="submit" value="EDIT member">
</form>

<form action="/members/<%=@member.id%>/delete" method="post">
  <input type="submit" value="DELETE member">
</form>
